@{
    ViewData["Title"] = "Panel de Control";
}

<div class="container mt-4">

    <h2 class="mb-3">Bienvenido @ViewBag.Usuario</h2>

    <div class="d-grid gap-2">
        <a class="btn btn-primary" asp-controller="Home" asp-action="Create">Crear Registro</a>
        <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Consultas</a>
        <a class="btn btn-warning" asp-controller="Home" asp-action="Cancelaciones">Cancelaciones</a>

    </div>

    <hr />

    <a asp-action="Logout" class="btn btn-danger mt-3">Cerrar sesión</a>

</div>

